.about-section {
  padding: 10px;
}

.about-title {
  font-size: 1.5rem;
  color: #333; 
  margin-bottom: 5px;
  font-weight: 600; 
  font-family: "Open Sans";
}

.about-text {
  font-size: 1rem;
  color: #555; 
  line-height: 1.4; 
  font-family: "Open Sans";
}