.education-section {
    padding: 20px;
    /* text-align: center; */
  }
  
  .section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: #333;
    font-family: "Open Sans";
  }
  
  .education-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .education-card {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    text-align: left;
    transition: transform 0.2s;
  }
  
  .education-card:hover {
    transform: translateY(-4px);
  }
  
  .edu-degree {
    font-size: 1.3rem;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 5px;
    font-family: "Open Sans";
  }
  
  .edu-institution {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    font-family: "Open Sans";
  }
  
  .edu-duration,
  .edu-score {
    font-size: 1rem;
    color: #777;
    font-family: "Open Sans";
  }
  